# Rust
/target/
**/*.rs.bk
Cargo.lock

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Build artifacts
*.exe
*.dll
*.so
*.dylib

# Test artifacts
*.mti
/test_output/

# Tauri
/installer_gui/src-tauri/target/
/ui/dist/
/ui/node_modules/

# Logs
*.log
/examples/yaml-flow-demo/app
/examples/full-flow-demo/app
/examples/yaml-flow-demo/plugins
/examples/full-flow-demo/payload
